<%- include('partials/navbar') %>


<h1>Assignments</h1>
<a href="/add">Add Assignment</a>
<ul>
  <% assignments.forEach(assignment => { %>
    <li>
      <strong><%= assignment.title %></strong> - <%= assignment.status %>
      <a href="/edit/<%= assignment._id %>">Edit</a>
      <form action="/delete/<%= assignment._id %>" method="POST" style="display: inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }); %>
</ul>

